{% extends "base.html" %}
{% block content %}

{% block page_content %}
<style type="text/css" media="print">
.dontprint
{ display: none; }
</style>
<div class="container">
    <div class="jumbotron dontprint">
        <h1>Thank You</h1>
        <a class="btn btn-primary" type="button" href="/">Home</a>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>{{ object.id }}</p>
        <p>{{ object.raw_score }}</p>
        <p>{{ object.scaled_score }}</p>
        <p>{{ object.determiner }}</p>
      </div>
      <div class="col-md-6">

          <p>{{ object.__dict__ }}</p>

    </div>
  </div>
{% endblock %}
{% endblock %}
